* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav a {
    text-decoration: none;
    font-size: 30px;
    color: white;
}

nav ul {
    background-color: grey;
    list-style: none;
    overflow: auto;
}

nav li:hover {
    background-color: black;
    text-align: center;
}

nav a:hover {
    color: gold;
}

nav li {
    text-align: center;
    float: right;
    width: 150px;
    padding: 10px;
}

.con {
    height: 500px;
    padding-top: 50px;
}

.baruun img {
    border-radius: 30px;
}

.zuun {
    float: left;
    width: 40%;
    padding: 35px;
}

.baruun {
    float: left;
    width: 60%;
}

#hol {
    background-color: grey;
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 20px;
}

.zuun h1 {
    text-align: center;
}

.comment {
    height: 600px;
    padding-top: 50px;
    background: url('.//img/nuur3.jpg') no-repeat center center/cover;
}

.comment h2 {
    color: white;
    text-align: center;
    padding-bottom: 40px;
}

.hun1 {
    background: rgba(255, 68, 0, 0.534);
    margin: 20px;
    height: 100px;
    border-radius: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.hun1 img {
    float: left;
    width: 100px;
    border-radius: 100%;
}

.clr {
    clear: both;
}