    /*dont fix this it works*/
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    nav a {
        text-decoration: none;
        font-size: 30px;
        color: white;
    }
    
    nav ul {
        background-color: grey;
        list-style: none;
        overflow: auto;
    }
    
    nav li:hover {
        background-color: black;
        text-align: center;
    }
    
    nav a:hover {
        color: gold;
    }
    
    nav li {
        text-align: center;
        float: right;
        width: 150px;
        padding: 10px;
    }
    
    form {
        margin-bottom: 20px;
        margin-left: 30px;
        margin-right: 70px;
    }
    
    label {
        display: block;
        margin-bottom: 5px;
    }
    
    input,
    textarea {
        width: 100%;
        padding: 10px;
        border: 1px #444 dashed;
    }
    
    #hol {
        background-color: grey;
        color: white;
        text-align: center;
        font-size: 25px;
        padding: 20px;
    }
    
    main h1 {
        text-align: center;
    }
    
    main p {
        text-align: center;
    }
    
    button:hover {
        background-color: black;
        color: white;
    }